{% extends 'base.html.twig' %}

{% block title %}Gestion des adresses{% endblock %}

{% block content %}
    <h1>Gestion de vos adresses.</h1>
    <a href="{{ path('account') }}"> Retourner sur mon compte</a>
    <a href="{{ path('account_adress-add') }}" class="btn btn-info btn-sm"> Ajouter une adresse</a>
    <hr class="mb-4">


    {% if app.user.addresses|length == 0 %}
        Aucune adresse enregistrée pour le moment.
        <a href="{{ path('account_adress-add') }}" class="btn btn-info btn-sm"> Ajouter une adresse</a>
    {% else %}
        <div class="row">
        {% for adresse in app.user.addresses %}
            <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ adresse.name }}</h5>
                            <p class="card-text">{{ adresse.lastname }}</p>
                            <p class="card-text">{{ adresse.adress }}</p>
                            <p class="card-text">{{ adresse.postal }}</p>

                            <a href="{{path('account_adress-edit',{'id': adresse.id})}}" class="btn btn-primary">Modifier</a>
                            <a href="{{path('account_adress-delete',{'id': adresse.id})}}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    {% endif %}



{% endblock %}
